.products__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: flex-start;
}

.filler {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
}

.hero-gezicht {
  background-image: url(../img/gezicht-hero.webp) !important;
  background-position: 0 8% !important;
}

.hero-haar {
  background-image: url(../img/haar-hero.webp) !important;
  background-position: 0 23% !important;
}

.hero-lichaam {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/lichaam-hero.webp) !important;
  background-position: 0 38% !important;
}

.hero-parfum {
  background-image: url(../img/parfum-hero.webp) !important;
}

@media only screen and (min-width: 1024px) {
  #products {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
