#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/productcategorieen-hero.webp);
}

#categories {
  padding-top: 2.5rem;
}

.category__container {
  height: 10rem;
  margin: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgb(255, 248, 254);
  background-color: rgb(255, 250, 254);

  border: 0.1rem solid #ddd;
  text-align: center;
}

.category__container:hover {
  background-color: rgb(255, 248, 254);
}

.category__container p {
  max-width: unset;
  font-size: 1.5rem;
}
