.products__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: flex-start;
}

.filler {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
}

.hero-gezicht {
  background-image: url(../img/gezicht-hero.webp) !important;
  background-position: 0 8% !important;
}
/*
.hero-haar {
  
}

.hero-lichaam {

}

.hero-parfum {
  
} */

@media only screen and (min-width: 1024px) {
  #products {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
